body{
  font-family: 'Rajdhani', sans-serif;

}
h4{
  text-align: center;
  margin-bottom: 5px;
  color: gray ;
}
#Contact{
  background-image:url(/project-hero/assets/img/contacfomndo.jpg);
  padding: 100px 15px;
  font-family: 'Rajdhani', sans-serif;
  }
  #Contact .title-selection{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    text-decoration-color: #000000;
    font-family: 'Press Start 2P', cursive;
  
  }
  #Contact .content-form{
    max-width: 1100px;
    margin: auto;
  }
  #Contact .content-form .fila{
    margin-bottom: 15px;
  }
  #Contact .content-form .mitad{
    display: flex;
    justify-content: space-between;
  }
  #Contact .content-form input,
  #Contact .content-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid rgba(7, 7, 7, 0.566);
  }
  #Contact .content-form .mitad input{
    width: 48%;
  }
  #Contact .content-form .input-full{
    width: 100%;
  }
  #Contact .btn-send{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
  
    
  }
  #Contact .btn-send:hover{ 
    background-color: rgb(191, 0, 255);
    color: rgb(10, 10, 10);
    font-family: 'Rajdhani', sans-serif;
  }

  
  .section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { border-color: var(--fuchsia-600) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { background-color: var(--fuchsia-600) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { color: var(--black-000) }

.section-selector-1 { background-color: var(--black-000) }


header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { background-color: var(--trans-000) }

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { color: var(--white-000) }

nav.theme-dark .nav-toggle .bar-1,
nav.theme-dark .nav-toggle .bar-2,
nav.theme-dark .nav-toggle .bar-3 { background-color: var(--white-000) }
nav.theme-dark .nav-toggle .bar-1,
nav.theme-dark .nav-toggle .bar-2,
nav.theme-dark .nav-toggle .bar-3 { background-color: var(--white-000) }
nav.theme-dark .nav-toggle .bar-1,
nav.theme-dark .nav-toggle .bar-2,
nav.theme-dark .nav-toggle .bar-3 { background-color: var(--white-000) }
nav.theme-dark .nav-toggle { background-color: var(--black-000) }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { color: var(--white-000) }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { background-color: var(--trans-000) }
nav.theme-dark ul.links-wrapper li a:focus,
nav.theme-dark ul.links-wrapper li a:hover,
nav.theme-dark ul.links-wrapper li a:active { color: var(--fuchsia-600) }
nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active { border-color: var(--fuchsia-600) }
nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active { border-color: var(--fuchsia-600) }
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper li a:focus,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper li a:hover,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper li a:active { color: var(--fuchsia-600) }
header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { border-color: var(--fuchsia-600) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { background-color: var(--trans-000) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { color: var(--fuchsia-600) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { border-color: var(--fuchsia-600) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { color: var(--fuchsia-600) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { background-color: var(--trans-000) }
  
  
  img.logo-nav {
  width:180px;
  height:60px;
}
button{
  border-radius: 12px;
  background-color: white;
  text-align: justify;
  
}
.focus-in-contract-bck {
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-12-17 21:59:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


footer{
  background-color: rgb(7, 7, 7);
  color: rgb(247, 247, 247);
  text-align: center;
  padding: 30px 0;
  font-family: 'Rajdhani', sans-serif;
}
footer a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 5px;
  font-size: 26px;
  font-family: 'Rajdhani', sans-serif;
}
